# .gitignore file
#ignore binary executables: 
*.out
#ignore .vscode:
.vscode/
#ignore the project directory as it'll be a separate git repo:
Project_Simat_language/
Project_Simat_language_local (Copy)/